:root{
    --main-color:#3c40c6;
    --text-color:#f53b57;
    scroll-behavior: smooth;
}
::selection{
    background-color: var(--text-color);
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    z-index: 1000;
    padding: 20px 10px;
    width: 100%;
    height: 85px;
    transition: all 1s;
    justify-content: space-around;
}
#header.active{
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 2px 1px 3px grey;
}
.logo h1{
    color: var(--text-color);
    letter-spacing: 1px;
    margin: 0 10px;
}
#toggle_btn{
    display: none;
    padding: 10px;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 5px grey;
}
.navbar ul li a{
    margin: 0 10px;
    padding-bottom: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--main-color);
    position: relative;
}
section{
    min-height: 100vh;
    padding: 85px 10px 30px;
}
.round span{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid rgba(255,255,255,0.9);
    outline: 15px solid rgba(255,255,255,0.6);
    display: block;
    animation: anim1 1s linear infinite alternate;
}
@keyframes anim1{
    0%{
        border: 5px solid rgba(255,255,255,0.9);
        outline: 5px solid rgba(255,255,255,0.6);
    }100%{
        border: 15px solid rgba(255,255,255,0.9);
        outline: 15px solid rgba(255,255,255,0.6);
    }
}
.round{
    border-radius: 50%;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 30px solid rgba(255,255,255,0.4);
    outline: 30px solid rgba(255,255,255,0.2);
    animation: anim2 1s linear infinite alternate;
}
@keyframes anim2{
    0%{
        border: 15px solid rgba(255,255,255,0.4);
        outline: 15px solid rgba(255,255,255,0.2);
    }100%{
        border: 30px solid rgba(255,255,255,0.4);
        outline: 30px solid rgba(255,255,255,0.2);
    }
}
.round img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.profile-pic,.profile-info{
    text-align: center;
    width: 50%;
    margin: 20px auto;
}
#home{
    background-image: url("images/quantum-gradient.png");
}
.profile-info h1{
    font-size: 3em;
    color: #fff;
    letter-spacing: 4px;
}
.social a{
    margin: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    display: inline-block;
    box-shadow: 0px 0px 3px #fff, inset 0px 0px 3px #fff;
    transition: all 0.3s;
}
.social a:hover{
    border-radius: 50%;
}
.title h1{
    padding: 20px;
    font-size: 2em;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
    color: #fff;
}
#services{
    background-image: url("images/protruding-squares.png");
    background-size: 100px;
}
.service-group{
    flex-wrap: wrap;
    padding: 20px 0;
}
.service-group .card{
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 10px;
}
.service-group .card i,.portfolio-group .card i{
    padding: 15px;
    border: 2px solid #fff;
    font-size: 2em;
    border-radius: 5px;
}
.service-group .card h2{
    padding: 20px;
    letter-spacing: 1px;
}
#portfolio{
    background-image: url("images/radiant-gradient.png");
    background-size: cover;
}
.portfolio-group{
    margin: 20px 0;
    align-items: baseline;
    flex-wrap: wrap;
}
.portfolio-group .card{
    position: relative;
    margin: 15px;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 4px;
    background-color: var(--main-color);
    color: #fff;
    max-width: 45%;
}
.portfolio-group .card img{
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}
.portfolio-group .card a{
    padding: 10px;
    letter-spacing: 1px;
    color: #fff;
    display: block;
    font-size: 20px;
    text-align: center;
}
.portfolio-group .card button{
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 1px black;
    position: absolute;
    right: -25px;
    bottom: -25px;
    font-size: 12px;
}
.portfolio-group .card i,.portfolio-group .card button{
    border-radius: 50%;
}
.portfolio-group .card ul{
    display: none;
    letter-spacing: 1px;
    padding: 20px;
}
.portfolio-group .card ul.active{
    display: block;
}
.portfolio-group .card ul li{
    list-style-type: disc;
    padding-bottom: 5px;
}
.portfolio-group .card ul li a{
    text-decoration: underline;
    display: inline;
    font-size: 17px;
    color: black;
}
.btn-awesome{
    padding: 10px;
    text-align: center;
    display: block;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    background-color: var(--main-color);
    border-radius: 4px;
}
#about{
    background-image: url("images/dragon-scales.png");
    background-size: 100px;
}
#about .hero{
    margin: 30px 0;
}
.contact-info{
    margin: 20px 0;
}
#about .profile-info p,.contact-info p{
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
}
#contact{
    background-image: url("images/flat-mountains.png");
}
.c-info{
    margin: 30px 0;
}
.c-info,.g-map{
    width: 45%;
}
.g-map iframe{
    width: 100%;
    border: 2px solid #fff;
    height: 400px;
}
footer{
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}
#pricing_features{
    background-image: url("images/rainbow-vortex.png");
    background-size: cover;
}
#testimonials{
    background-image: url("images/slanted-gradient.png");
}
#faq{
    background-image: url("images/endless-constellation.png");
}
#skills{
    background-image: url("images/rose-petals.png");
}
.faq-box{
    margin: 20px 0;
}
.faq-box .card{
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.faq-title{
    justify-content: space-between;
    padding: 10px;
}
.faq-title i{
    cursor: pointer;
}
.faq-desc{
    padding: 10px;
    display: none;
}
.faq-desc.active{
    display: block;
}
.skill-group{
    margin: 30px 10px;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    color: #fff;
    letter-spacing: 1px;
}
.skill-group .card{
    padding: 20px;
}
.pf-box{
    margin: 30px 10px;
    color: #fff;
    letter-spacing: 1px;
}
.skill-group .card li,.pf-box p,.pf-box h2{
    padding: 10px;
}
@media (min-width:900px){
    .navbar ul li a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        border-radius: 3px;
        background-color: var(--main-color);
        transition: all 0.3s;
    }
    .navbar ul li a:hover:before,.navbar ul li:first-child a::before{
        width: 100%;
    }
}
@media (max-width:900px){
    #header{
        justify-content: space-between;
    }
    .logo h1{
        font-size: 25px;
    }
    .navbar{
        display: none;
    }
    .navbar.active,#toggle_btn,.navbar ul li a{
        display: block;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar{
        position: absolute;
        top: 65px;
        right: 55px;
        box-shadow: 0px 0px 3px grey;
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
        z-index: 1000;
    }
    .hero{
        flex-direction: column;
        padding: 20px 0;
    }
    .profile-pic, .profile-info{
        width: 90%;
        margin: 20px auto;
    }
    .portfolio-group .card img{
        width: 250px;
    }
    .portfolio-group .card{
        max-width: 90%;
    }
    .contact-info{
        flex-direction: column;
    }
    .c-info,.g-map{
        width: 90%;
    }
    #about{
        background-size: 180px;
    }
}
@media (max-width:500px){
    .profile-info h1{
        font-size: 2em;
    }
    .round{
        width: 250px;
        height: 250px;
    }
    .portfolio-group .card img{
        width: 100%;
    }
    .portfolio-group .card button{
        font-size: 9px;
    }
    .g-map iframe{
        height: 300px;
    }
    .skill-group{
        justify-content: flex-start;
    }
}